assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/nbproject/private/
netbeans
nbproject
.vagrant
/app/composer.lock
*.log
/app/web/media/upload/
!/app/web/media/upload/.gitkeep